/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
h2, h3, p {
  font-family: 'Alegreya Sans', sans-serif;
}

/* Estilos nav-bar */
li {
  list-style: none;
}

header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b4887;
}


nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  font-size: large;
  font-family: 'Alegreya Sans', sans-serif;
  
}

nav a {
  color: #1b305d;
  text-decoration: none;
}


.nav-img img {
  width: 150px;
  height: auto;
  text-align: left;
}


.left-ul {
  margin-right: auto;
}


.right-ul {
  margin-left: auto;
}


.right-ul ul {
  justify-content: flex-end;
}

.right-ul{
  margin-left: 25px;
}
.nav-item {
  margin-left: 25px;
}

/* Estilos para Sección 1 */

.inner-section-one {
  position: relative;
  background-image: url(../Images/Images-background/HERO\ WEB.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title-for-section-one {
  position: absolute;
  top: 30%; /* Ajusta la posición vertical del título */
  left: 10%;
  transform: translate(0, -50%);
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  color: #1b4887;
}

.highlighted-text {
  color: #36ace2;
}

.for-button {
  position: absolute;
  top: 45%; /* Ajusta la posición vertical del botón */
  left: 9%;
  transform: translate(0, -50%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Alegreya Sans', sans-serif;
}
.section-one-footer {
  background-image: linear-gradient(to right, #0282D0, #1794DE, #1592DD, #36ace2);
  padding-left: 9%;
  align-items: center;
  text-align: justify;
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  flex-direction: row;
}

.section-one-footer img {
  max-width: 100%;
  margin-right: 20px;
}

.text-container {
  display: flex;
  flex-direction: column; 
}

.section-one-footer h2 {
  font-size: xx-large;
  font-weight: bold;
  text-align: justify;
  margin: 0;
}

.section-one-footer h3 {
  text-align: justify;
  font-size: large;
  margin: 0;
}

#custom-button {
  background-color: #36ace2; 
  border-color: #36ace2; 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: large;
  font-weight: bold;
  font-family: 'Alegreya Sans', sans-serif;
}


/* Estilos para Sección 2*/
.insurance-section {
  padding-top: 50px;
  background-color: #dfe0de;
  display: flex;
  align-items: flex-start;
  color: #1b305d;
}

.inner-section2{
  padding-left: 50px;
  color: #1b305d;
  padding-bottom: 15px;
}

.title-section-two {
  color: #1b305d;
  font-size: xx-large; 
  font-weight: bold; 
}

.title-section-two + h3 {
  font-size: large; 
  font-weight: bold; 
}


/* Estilos para la sección de tarjetas*/


.project-cards-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cambia a 4 columnas */
  grid-gap: 20px;
}

.project-cards-container li {
  width: 100%;
}

.card {
  width: 100%;
  max-width: 18rem;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}
.card-text{
  color: #36ace2;
  font-size: xx-large;
  font-weight: bold;
}

.container-padre {
  background-color: #dfe0de;
  display: flex;
  flex-direction: column; /* Cambia a dirección de columna */
  align-items: center; /* Centra el contenido horizontalmente */
  padding-bottom: 25px;
}

.button-container {
  text-align: center;
  margin-top: auto; 
}

.section-two-asesoramiento {
  text-decoration: none;
  color: #ffffff;
}

.section-two-asesoramiento:hover {
  color: #ffffff;
}

/* Estilos para Sección 3 */
.section-three {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.inner-section-three {
  flex: 1;
}
.content-section {
  flex: 2;
  padding-left: 10px; 
}

.title-for-section-three {
  text-align: justify;
  font-size: large;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}
.button-for-secction-three{
  padding-top: 30px;
  padding-left: 25%;
}
#custom-button-two {
  background-color: #36ace2;
  border-color: #36ace2;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: large;
  font-weight: bold;
}
/* Estilos para seccion 4*/

.secction-four{
  padding-top: 30px;
  background-color: #dfe0de ;
}
.title-for-secction-four{
  color: #1b305d;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.project-cards-container-four {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Estilos para seccion 5*/


.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start; 
  padding-left: 10px;
}

.gallery {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.gallery li {
  flex: 0 0 calc(25% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.gallery li:nth-last-child(1) {
  grid-column: 2 / 3;
}
.card-texT-productores{
  text-align: center;
  font-size: small;
  font-weight: bold;
}
/* Estilos para seccion 6*/

#contact-form {
  padding-top: 20px;
  max-width: 400px; 
  margin: 0 auto; 
}

label {
  display: block; 
  margin-bottom: 8px; 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px; 
  margin-bottom: 20px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  font-family: 'Alegreya Sans', sans-serif;
}

#custom-button {
  background-color: #36ace2;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  cursor: pointer;
}
/* Estilos para seccion 7*/
.section-seven-footer {
  background-image: linear-gradient(to right, #0282D0, #1794DE, #1592DD, #36ace2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-ul-footer{
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-ul-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column; 
}

.left-ul-footer {
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  flex-direction: column; 
  align-items: flex-start; 
  padding-left: 200px;
  padding-top: 35px;
}

.right-ul-footer {
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}


.logo-img {
  max-width: 275px;
  height: auto;
  display: block;
  padding-left: 25px;
}

.right-ul-footer img,
.left-ul-footer img {
  max-width: 40px;
  height: auto;
  margin: 2px;
}
.left-ul-footer li {
  align-items: center;
}
@media (max-width: 768px) {
   /* Estilos para Sección 1 en dispositivos móviles */
  .inner-section-one {
    position: relative;
    background-image: url(../Images/Images-background/HERO\ mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .nav-img img {
    width: 75px;
    height: auto;
    text-align: left;
  }
  .title-for-section-one {
    font-size: 24px;
    font-weight: bold;
    top: 20%;
    left: 5%;
  }
  .section-one-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
  
  .section-one-footer img {
    max-width: 100%;
    margin-right: 20px;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .section-one-footer h2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: justify;
    margin: 0;
  }
  
  .section-one-footer h3 {
    text-align: justify;
    font-size: large;
    margin: 0;
  }

  .for-button {
    top: 35%;
    left: 5%;
  }

  /* Estilos para Sección 2 en dispositivos móviles */
  .inner-section2 {
    padding-left: 10px;
  }

  .title-section-two {
    font-size: xx-large;
    font-weight: bold;
  }
  .inner-section2{
    padding-left: 30px;
  }
  .card {
    max-width: 10rem;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .card-text{
    color: #36ace2;
    font-size: medium;
    font-weight: bold;
  }
  .project-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .for-button-asesoria {
    display: flex;
    align-items: center;
  }


  /* Estilos para Sección 3 en dispositivos móviles */
  .section-three {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column; /* Cambiamos la dirección a column */
  }
  .img-photo-for-section-three {
    width: 100%; /* Hacer la imagen ocupar el 100% del ancho */
    height: 100%; /* Mantener la proporción de la imagen */
  }
  .inner-section-three {
    flex: 1;
    padding-bottom: 15px;
  }
  .content-section {
    flex: 2;
    padding-left: 10px;
  }
  .title-for-section-three {
    text-align: justify;
    font-size: large;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
  }
  
  .button-for-secction-three {
    padding-top: 30px;
    padding-left: 25%;
    padding-bottom: 25px;
  }

  /* Estilos para seccion 4 en dispositivos móviles */

   /* Estilos para seccion 6 en dispositivos móviles */
   #contact-form {
    padding-top: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  .for-form{
    padding: 15px;
  }
  label {
    padding: 5px;
    display: block;
    margin-bottom: 8px;
    font-size: small;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Alegreya Sans', sans-serif;
  }

  /* Estilos para el botón personalizado en dispositivos móviles */
  #custom-button {
    background-color: #36ace2;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    cursor: pointer;
    padding: 10px 20px 20px; /* Espacio adicional en la parte inferior */
  }
  /*Estilos para seccion 7 en dispositivos móviles */
  .section-seven-footer{
    text-align: justify;
    font-size: small;
  }
  .logo-img {
    width: 250px; 
    height: auto; 
}

  .left-ul-footer {
    padding-left: 5px;
    padding-top: 15px;
  }
  
}

/* Codigos paletas de colores
1b305d
1b4887
247fc3
36ace2
Textos
Aeonik Institutcional
Alegreya sans Titulares */