/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
h2{
  font-family: 'Alegreya Sans', sans-serif;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
}
p{
  font-family: 'Alegreya Sans', sans-serif;
}

li {
  list-style: none;
}


header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b4887;
}


nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  font-size: x-large;
  font-family: 'Alegreya Sans', sans-serif;
  
}

nav a {
  color: #1b305d;
  text-decoration: none;
}


.nav-img img {
  width: 150px;
  height: auto;
  text-align: left;
}


.left-ul {
  margin-right: auto;
}


.right-ul {
  margin-left: auto;
}


.right-ul ul {
  justify-content: flex-end;
}

.right-ul li.nav-item {
  margin-left: 25px;
}

/* Estilos para Sección 1 */

.inner-section-one {
  position: relative;
  background-image: url(../Images/Images-background/HERO\ WEB.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title-for-section-one {
  position: absolute;
  top: 30%; /* Ajusta la posición vertical del título */
  left: 10%;
  transform: translate(0, -50%);
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  color: #1b4887;
}

.for-button {
  position: absolute;
  top: 45%; /* Ajusta la posición vertical del botón */
  left: 9%;
  transform: translate(0, -50%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Alegreya Sans', sans-serif;
}

.section-one-footer{
  background-color: #36ace2;
  padding-left: 9%;
  align-items: center;
  text-align: justify;
  font-weight: bold;
  color:#ffffff;
  font-family: 'Alegreya Sans', sans-serif;
}
.section-one-footer h3{
  background-color: #36ace2;
}
/* Estilos para el botón personalizado */
#custom-button {
  background-color: #36ace2; 
  border-color: #36ace2; 
  font-family: Aeonik;
  font-size: large;
  font-weight: bold;
  font-family: 'Alegreya Sans', sans-serif;
}


/* Estilos para Sección 2*/
.insurance-section {
  background-color: #dfe0de;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  color: #1b305d;
}


.inner-section2{
  padding-left: 50px;
  color: #1b305d;
}
.title-section-two{
  color: #1b305d;
  font-weight:1000;
}


/* Estilos para la sección de tarjetas*/
.project-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto auto;
  grid-gap: 20px;
  align-items: flex-start;
}

.project-cards-container {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-cards-container li {
  width: 100%;
}

.project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px; 
  overflow: hidden; 
}
.container-padre {
  background-color: #dfe0de;
  display: flex;
  padding-bottom: 25px;
}

.for-button-asesoria {
  padding-left: 520px;
  display: flex;
  align-items: center;
}
.card-text{
  font-family: 'Alegreya Sans', sans-serif;
  color: #36ace2;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.section-two-asesoramiento {
  text-decoration: none; /* Eliminar subrayado */
  color: #ffffff; /* Cambiar color del enlace */
}

.section-two-asesoramiento:hover {
  color: #ffffff; /* Cambiar color en el hover */
}
/* Estilos para Sección 3 */
.section-three {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.inner-section-three {
  flex: 1;
}

.content-section {
  flex: 2;
  padding-left: 10px; /* Ajusta el espacio entre la imagen y el título */
}

.img-photo-for-section-three { /* Corregido el nombre de la clase */
  max-width: 100%;
  height: auto; /* Cambiado a 'auto' para mantener la proporción */
}

.title-for-section-three {
  text-align: justify;
  font-size: large;
  padding-left: 25px;
  font-family: 'Alegreya Sans', sans-serif;
}

/* Estilos para seccion 4*/

.secction-four{
  padding-top: 20px;
  background-color: #dfe0de ;
}

/* Estilos para seccion 7*/
.section-seven-footer {
  background-color: #36ace2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-ul-footer{
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-ul-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column; 
}

.left-ul-footer {
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  flex-direction: column; 
  align-items: flex-start; 
  padding-left: 200px;
  padding-top: 35px;
}

.right-ul-footer {
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}


.logo-img {
  max-width: 400px;
  height: auto;
  display: block;
  padding-left: 100px;
}

.right-ul-footer img,
.left-ul-footer img {
  max-width: 40px;
  height: auto;
  margin: 2px;
}
.left-ul-footer li {
  align-items: center;
}




/*Index for mobile*/

/* Estilos para la hamburguesa y el menú desplegable en dispositivos móviles
#hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 24px;
}

#hamburger div {
  width: 30px;
  height: 3px;
  background-color: #1b305d;
  margin: 3px 0;
}*/



/* Media queries para hacer la página responsive 

/* Para pantallas pequeñas*/
body {
  font-size: 16px; /* Tamaño de fuente base para pantallas medianas/grandes */
}


/* Ajustes generales para pantallas medianas */
@media (max-width: 1020px) {
  /* Ajusta el tamaño de fuente base para pantallas medianas */
  body {
    font-size: 15px;
  }

  /* Ajustes para la sección de tarjetas en pantallas medianas */
  .project-cards-container {
    grid-template-columns: 1fr 1fr 1fr; /* Muestra tres tarjetas por fila */
  }
}


/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Reduce el tamaño de fuente en dispositivos pequeños */
  }

  /* Ajusta el espaciado de la navegación en dispositivos pequeños */
  nav ul {
    margin-top: 10px;
  }

  /* Ajusta los márgenes y tamaños de las tarjetas en dispositivos pequeños */
  .project-cards-container {
    grid-template-columns: 1fr 1fr; /* Muestra dos tarjetas por fila */
  }

  .card {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 10px 0;
  }

  /* Ajustes para la sección de las imágenes */
  .section-three {
    flex-direction: column; /* Cambia el orden en dispositivos pequeños */
    align-items: center;
  }

  .inner-section-three,
  .content-section {
    padding: 0; /* Elimina el espacio en los lados en dispositivos pequeños */
  }

  /* Ajustes para la sección del footer */
  .left-ul-footer,
  .right-ul-footer {
    padding-left: 0; /* Elimina el padding izquierdo en dispositivos pequeños */
    text-align: center;
  }

  .logo-img {
    max-width: 200px; /* Reduce el tamaño del logo en dispositivos pequeños */
    padding-left: 0;
  }

  .right-ul-footer img,
  .left-ul-footer img {
    max-width: 30px; /* Reduce el tamaño de los íconos en dispositivos pequeños */
  }
}


/* Para pantallas muy pequeñas*/
@media screen and (max-width: 480px) {
  nav li {
    font-size: medium;
    padding-left: 0;
    margin: 0;
  }

  .inner-section2{
    padding-left: 20px;
  }

  .project-section {
    grid-template-columns: 1fr;
  }

  .project-cards-container {
    grid-template-columns: 1fr;
  }
}

/* Codigos paletas de colores
1b305d
1b4887
247fc3
36ace2
Textos
Aeonik Institutcional
Alegreya sans Titulares */